<div class="row justify-content-center">
  <div *ngFor="let song of songs" class="card mb-1 ml-1 border-0">
    <div class="card-body card-color text-white">
      <h2 class="card-title">{{song._title}}</h2>
      <p class="card-text">{{song._artist}}</p>
      <p class="card-text">{{song._genre}}</p>
      <div class="m">
      <button class="mr-4" mat-raised-button color="primary">Listen</button>
      <button (click)="openDialogAddSongToPlaylist(song._id, song._title)" mat-raised-button color="accent">+ Playlist</button>
      </div>
    </div>
  </div>
</div>
