/deep/ .card-color{
  background-color: #424242;
}

.search-bar{
  padding-left: 1.375rem;
  padding-right: 1.3rem;
}

.search-button{
  width: 5.3rem;
  height: 3.25rem;
}

.align-songs{
  padding-left: 1.125rem;
}

.card-max-width{
  max-width: 14rem;
  height: 12rem;
}

.stop-button {
  border-radius: 45% 3% 3% 45%;
  position: absolute;
  margin-left: -308px;
  padding-right: 40px;
  height: 54px;
}
