<h1>Thousands of amazing people to know!</h1>
<mat-dialog-content class="mat-typography">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element._user_name}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="!removeJustFollowed(element._id) && !element.isFollowed"
                (click)=" element.isFollowed= true; isFriendAdded=true; addFriend(element._id, element._user_name)"
                mat-raised-button color="primary">Add
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</mat-dialog-content>

<mat-dialog-actions>
  <mat-dialog-actions>
    <button [mat-dialog-close]=isFriendAdded color="accent" mat-raised-button mat-dialog-close>Back</button>
  </mat-dialog-actions>
</mat-dialog-actions>
