<div class="d-flex justify-content-between">
  <h1 *ngIf="allFollowed.length === 1; else elseBlock" class="text-white playlist-menu m-0">{{allFollowed.length}}
    FRIEND</h1>
  <ng-template #elseBlock>
    <h1 class="text-white playlist-menu m-0">{{allFollowed.length}} FRIENDS</h1>
  </ng-template>
  <button (click)="openDialogAddFriend()" mat-raised-button color="accent" class="button-height">+</button>
</div>
<mat-selection-list [multiple]="false">
  <mat-list-option *ngFor="let friend of followed">
    <div class="d-flex justify-content-between">
      {{friend._user_name}}
      <button (click)="removeFollowed(friend._id, friend._user_name)" mat-raised-button color="warn">Remove</button>
    </div>
  </mat-list-option>
</mat-selection-list>

<div *ngIf="allFollowed.length > 10" class="d-flex align-items-end justify-content-end">
  <button (click)="prevFollowed()" mat-raised-button color="primary"><</button>
  <button (click)="nextFollowed()" mat-raised-button color="primary">></button>
</div>

<h1 class="text-white" *ngIf="allFollowed.length === 0">No friends followed, start now!</h1>
