.example-card {
  max-width: 100%;
}

.playlist-menu{
  font-size: 2rem;
}

.button-height{
  height: 2rem;
}

.example-header-image {
  background-image: url("https://i.pinimg.com/originals/1d/94/eb/1d94eb83e4b62a0b67047e8a40ad403c.jpg");
  background-size: cover;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
