.example-card {
  max-width: 100%;
}

.playlist-menu{
  font-size: 2rem;
}

.button-height{
  height: 2rem;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.logout-button{
  margin-bottom: 1rem;
}
