<div class="container-fluid mt-3">
  <div class="row justify-content-center">

    <div class="col-sm-12 col-md-3 order-lg-0 order-0 mb-lg-5">
      <mat-card class="example-card pb-0">

        <mat-card-header class="justify-content-between">
          <mat-card-title>{{user?._user_name}}</mat-card-title>
          <mat-card-subtitle>{{user?._mail}}</mat-card-subtitle>
          <button (click)="logout()" mat-raised-button color="primary" class="logout-button">Logout</button>
        </mat-card-header>

        <img mat-card-image src="https://i.pinimg.com/originals/1d/94/eb/1d94eb83e4b62a0b67047e8a40ad403c.jpg"
             alt="User photo">
      </mat-card>

      <mat-selection-list class="example-card mt-2" [multiple]="false">
        <div class="d-flex justify-content-between">
          <h1 *ngIf="allPlaylists.length === 1; else elseBlock"
              class="text-white playlist-menu m-0">{{allPlaylists.length}} PLAYLIST</h1>
          <ng-template #elseBlock>
            <h1 class="text-white playlist-menu m-0">{{allPlaylists.length}} PLAYLISTS</h1>
          </ng-template>
          <button (click)="openDialogAddPlaylist()" mat-raised-button color="accent" class="button-height">+</button>
        </div>
        <mat-list-option *ngFor="let playlist of playlists"
                         (click)="openDialogPlaylistDetails(playlist.id)">
          {{playlist.title}}
        </mat-list-option>
        <h1 *ngIf="allPlaylists.length === 0" class="text-white mt-3">No playlist saved, start now!</h1>
      </mat-selection-list>

      <div *ngIf="allPlaylists.length > 3" class="d-flex justify-content-end">
        <button (click)="prevPlaylists()" mat-raised-button color="primary"><</button>
        <button (click)="nextPlaylists()" mat-raised-button color="primary">></button>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 order-md-1 order-2 flex-wrap mb-md-3">
      <app-songs-list *ngIf="user" [user]="user" [songToPlayFromPlaylist]="songToPlayFromPlaylist"></app-songs-list>
    </div>

    <div class="col-sm-12 col-md-3 order-1 order-md-2 mb-md-5">
      <app-friends-list *ngIf="user" [user]="user"></app-friends-list>
    </div>

  </div>
</div>

