<nav class="navbar navbar-expand-lg navbar-dark nav-color nav-height">
  <div class="container-fluid">
    <a (click)="setTraslateTitleFalse()" class="navbar-brand title" routerLink="/welcome">Olorefy</a>

    <div  id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item menu-title">
          <a (click)="setTraslateTitleTrue()" class="nav-link" routerLink="/welcome/register">Register</a>
        </li>
        <li class="nav-item menu-title">
          <a (click)="setTraslateTitleTrue()" class="nav-link" routerLink="/welcome/login">Login</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
