.nav-color{
  background-color: #9825ac;
}

.title{
  font-size: 3rem;
}

.menu-title{
  font-size: 1.5rem;
}

.nav-height{
  height: 5rem;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 245px) {
  .title {
    font-size: 1.5rem;
  }
}

