<h2 mat-dialog-title>Add Account</h2>
<mat-dialog-content class="mat-typography">
  <form *ngIf="group" [formGroup]="group">
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Playlist title:</mat-label>
        <input matInput placeholder="Choose a name" formControlName="title" required/>
        <mat-error *ngIf="group.controls['title'].invalid">{{getTitleErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button [disabled]="group?.status ==='INVALID'" mat-button [mat-dialog-close]="group" cdkFocusInitial>
    Add Account
  </button>
</mat-dialog-actions>
